* {
  margin: 0;
  padding: 0;
}

.container {
  background: #3a4444;
  padding: 20px;
}

.box {
  width: calc(25% - 44px);
  border: 2px solid lightgray;
  color: #3a4444;
  padding: 20px;
  background: #e7e7df;
  line-height: 1.4em;
}

.box h2 {
  color: #2db475;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.left {
  float: left;
}

.clear {
  clear: both;
}
