* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a9d7e9;
}

/* title of the page */

.title {
  font-size: 1.7em;
  text-transform: capitalize;
  width: 500px;
  margin: auto;
  text-align: center;
}

/* main body */

.form-section {
  width: 50em;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  border: 2px solid #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-top: 30px;
  padding: 50px;
}

/* form part */

div #quote {
  font-size: 25px;
  word-spacing: 1px;
  line-height: 3em;
}
