/* navigation bar */

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  color: white;
}

/* main section */

body {
  background: black;
}

.main-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div h1 {
  font-size: 4em;
  width: 55%;
  background: rgb(94, 93, 93);
  padding: 3px 4px;
  color: black;
  border-left: 10px solid lightslategrey;
  border-right: 10px solid lightslategrey;
}

div p {
  width: 80vw;
  text-align: center;
}

/* background image */

nav::before {
  content: "";
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background: url("./hello.jpg") center/cover no-repeat;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

/* linear gradient */

.color {
  width: 30vw;
  height: 30vh;
  margin: auto;
  /* insert the link here */
}

/* transform, transition */

a {
  text-decoration: none;
  position: relative;
  font-size: 2em;
  padding: 5px;
  background-color: rgb(94, 93, 93);
  border-right: 10px solid lightslategrey;
  border-left: 10px solid lightslategrey;
  display: inline-block;
}

div.link {
  position: relative;
  top: 0;
  animation: slide 4s 1;
  width: 200px;
  left: 43rem;
}

a:link {
  color: black;
  font-weight: bolder;
}

a:visited {
  background: rgb(53, 53, 53);
  color: rgb(3, 3, 3);
}

a:hover {
  border-radius: 25px;
  background: whitesmoke;
  opacity: 0.6;
  transition: all 1s linear;
}

a:active {
  color: lightsalmon;
  background: lightsalmon;
}

/* animation FOR LINK */

@keyframes slide {
  /* 0% {
    transform: translateX(-30vw);
  }

  10% {
    transform: translateX(30vw);
  } */

  50% {
    transform: scale(0.5, 0.5);
  }

  75% {
    transform: scale(1, 1);
  }

  /* 100% {
    transform: translate(0, 0);
  } */
}

/* animation FOR HR LINE */

hr.line {
  width: 50%;
  margin: 30px auto;
  border: 1px solid rgb(94, 93, 93);
}

hr#one {
  animation: lineone 3s 1;
}

@keyframes lineone {
  0% {
    transform: translate(-20vw);
  }
  75% {
    transform: translate(20vw);
  }
}

hr#two {
  animation: linetwo 3s 1;
}

@keyframes linetwo {
  0% {
    transform: translate(20vw);
  }
  75% {
    transform: translate(-20vw);
  }
}
