/*  Now in order to solve this issue of spaces in 
between and not get a fit in display
-------------> FLOAT property will be used  */

* {
  margin: 0;
  padding: 0;
}

.first,
.second,
.third {
  float: left;
}
.first {
  width: 33.33%;
  background-color: brown;
}

.second {
  background-color: pink;
  width: 33.33%;
}

.third {
  width: 33.33%;
  background-color: brown;
}
