* {
  box-sizing: border-box;
}

/* empty container */

.container {
  border: 2px solid ghostwhite;
  background: ghostwhite;
  min-height: 100vh;
  width: 70vw;
  margin: auto;
}

/* Quotation */

.quotation {
  font-family: "Lobster", cursive;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 1px;
  width: 67vw;
  margin: auto;
  padding-top: 30px;
}

/* *********************************************************************** */

/* header */

.timeline {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5em;
  color: #ececec;
  padding-left: 3em;
  width: 100%;
}

/* MAIN CONTENT */

.main-content {
  width: 690px;
  position: relative;
  left: 180px;
}

.nutshell {
  text-align: center;
}

.table-details {
  text-align: center;
}

/* Positioning of the details */

.description span {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 40px;
  border-top: 2px solid #d1d0d0;
}

.description p {
  position: relative;
  left: 100px;
  margin: 0px;
  background: #f9f9f9;
  border-bottom: 2px solid #d1d0d0;
  border-top: 2px solid #d1d0d0;
}

/* ******************************************************************* */

/* Second main content */

.second-content {
  width: 305px;
  position: absolute;
  top: 100px;
  left: 830px;
}

/* Image */

img {
  width: 300px;
}

td {
  border-bottom: 2px solid #d1d0d0;
}

/* ******************************************************************** */

/* Quotation number-2 */
.extra {
  text-align: center;
  width: 80vw;
  border: 2px solid #ececec;
  background: #ececec;
  padding: 5px 7em;
  margin-top: 50px;
  margin-bottom: 400px;
}
