* {
  box-sizing: border-box;
}

/* empty container */

.container {
  border: 2px solid ghostwhite;
  background: ghostwhite;
  min-height: 100vh;
  width: 70vw;
  margin: auto;
}

/* Quotation */

.quotation {
  font-family: "Lobster", cursive;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 1px;
  width: 67vw;
  margin: auto;
  padding-top: 30px;
}

/* *********************************************************************** */

/* header */

.timeline {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5em;
  color: #ececec;
  padding-left: 3em;
  width: 100%;
}

/* MAIN CONTENT */

.main-content {
  width: 50%;
  position: relative;
  left: 180px;
}

.nutshell {
  text-align: center;
}

.table-details {
  text-align: center;
}

span.date {
  display: block;
  position: relative;
  width: 85px;
}

p.desc {
  float: right;
}

/* ******************************************************************* */

/* Second main content */

.second-content {
  clear: both;
  width: 305px;
  position: relative;
  bottom: 574px;
  left: 1000px;
}

/* Image */

img {
  width: 300px;
}

/* ******************************************************************** */

/* Quotation number-2 */
.extra {
  text-align: center;
  width: 80vw;
  border: 2px solid #ececec;
  background: #ececec;
  padding: 5px 7em;
}

.footer {
  position: relative;
  bottom: 400px;
}
